@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Raleway:wght@400;600;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  text-transform: capitalize;
}

.container {
  padding: 0px 40px;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 63px;
  font-weight: 900;
  padding-top: 76px;
  margin-bottom: 70px;
}

h1 span {
  color: #54d4a0;
}

.main__box {
  display: flex;
  justify-content: space-around;
}

.subtitle {
  color: #808080;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}

.count {
  display: flex;
  justify-content: space-between;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0px;
}

.output {
  margin-bottom: 88.5px;
  font-size: 43px;
  font-weight: 700;
}

.output__years,
.output__sum {
  text-align: center;
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 87px;
}

.calendar__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.percent__output {
  text-align: right;
  font-size: 29px;
}

.deposit__title {
  text-align: end;
  color: #54d4a0;
  font-size: 17px;
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 43px;
  font-weight: 800;
}

h2 {
  margin-top: 78px;
  margin-bottom: 54px;
}

.monthly_payment {
  text-align: center;
  color: #54d4a0;
  font-size: 63px;
  font-weight: 900;
}

.monthly_payment + p {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 112px;
}

.response__box {
  display: flex;
  justify-content: space-between;
  gap: 140px;
  margin-bottom: 67px;
}

.response__item + p {
  font-size: 17px;
  letter-spacing: 5.695px;
  text-transform: uppercase;
}

.response__output,
.response__repay {
  font-family: Open Sans;
  font-size: 43px;
  font-weight: 800;
}

form {
  max-width: 630px;
  margin-bottom: 187px;
}
.button {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 4.655px;
  text-transform: uppercase;
  padding: 17px 0px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #54d4a0;
  cursor: pointer;
}

.period,
.money {
  -webkit-appearance: none;
  width: 536px;
  height: 8px;
  border-radius: 39px;
  background: #f0f0f0;
  outline: none;
}

.money::-webkit-slider-thumb,
.period::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  background-color: #54d4a0;
  border-radius: 50%;
  cursor: pointer;
}

.period {
  background: -webkit-linear-gradient(
    left,
    #54d4a0 0%,
    #54d4a0 31%,
    #f0f0f0 31%,
    #f0f0f0 100%
  );
}

.money {
  background: -webkit-linear-gradient(
    left,
    #54d4a0 0%,
    #54d4a0 9%,
    #f0f0f0 9%,
    #f0f0f0 100%
  );
}

.transfer,
.cash {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__box {
  display: flex;
  justify-content: space-between;
}
.radio {
  position: relative;
  padding-left: 15px;
}

.radio__label::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #54d4a0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: border 0.3s;
}

.radio:checked + .radio__label::before {
  border: 6px solid #54d4a0;
}

.flatpickr {
  border-radius: 3px;
  border: 1px solid #808080;
  height: 53px;

  background: url('./calendar.svg') 160px 8px no-repeat;
  color: #808080;
  font-size: 15px;
}

.flatpickr input {
  padding: 12px 8px 11px 20px;
  border: none;
  outline: 0;
  width: 70%;
  color: #808080;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.flatpickr > input:active {
  border: none;
  outline: 0;
}

@media (max-width: 1240px) {
  .money,
  .period {
    width: 100%;
  }
  .response__box {
    gap: 60px;
  }
}
@media (max-width: 900px) {
  .main__box {
    gap: 15px;
  }
  .response__box {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title {
    font-size: 35px;
  }
  h1 {
    font-size: 43px;
  }
  h1 span {
    font-size: 43px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 60px 30px;
  }
  h1 {
    font-size: 34px;
    margin-bottom: 31px;
  }
  h1 span {
    font-size: 34px;
  }
  .main__box {
    flex-direction: column;
  }
  .output__sum,
  .output__years {
    margin-bottom: 76px;
  }
  .deposit__title {
    padding-bottom: 13px;
    margin-bottom: 31px;
  }
  .monthly_payment {
    font-size: 43px;
    margin-bottom: 9px;
  }
  .monthly_payment + p {
    margin-bottom: 80px;
  }
  .response__box {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .radio__box {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 55px;
    border-bottom: 1px dashed #808080;
  }
  h2 {
    margin: 49px 0px 13px;
  }
  .response__box {
    text-align: center;
    justify-content: center;
  }
  .response__item > p {
    margin-bottom: 5px;
  }
  .response__item {
    padding: 25px 43px 11px;
    margin-bottom: 23px;
  }
  .grey {
    border-radius: 4px;
    background: #f6f6f6;
  }
  .green {
    border-radius: 4px;
    background: #e9fff6;
  }
}
